body {
  background: #000000;
}

::-webkit-scrollbar {
  width: 0px;
  height: .5rem;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background: rgba(193, 193, 193, .1);
  border-radius: 12px;
  scrollbar-width: thin;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: none;
  scrollbar-width: thin;
}

/* applies to all elements */
* {
  box-sizing: border-box;
  font-size: clamp(.9rem, 1vw, 1.5rem);
  color: white;
  
}

/* .MuiRating-root {
  color: black !important;

} */



.subtext {
  font-size: clamp(.8rem, .9vw, 1.4rem);
}

.subtitle {
  font-size: clamp(1.1rem, 1.3vw, 1.7rem);
  font-weight: 600;
}

.title {
  font-size: clamp(1.2rem, 1.5vw, 1.8rem);
  font-weight: 600;
}

a {
  color: white;
  text-decoration: none;
}


/* body styles */
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background:#000000;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  padding-left: 5rem;
  padding-right: 5rem;
}

@media screen and (max-width: 800px) {

  .App {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
}

.main-section {
  position: relative;
  z-index: 0;
}

