
.games-library {
  padding-top: 2rem;
  overflow-y: auto;

  .games-sub {
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .listings-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    overflow-x: auto;

    .game-card {
      margin-bottom: 2.5rem;
    }
  }
}
