body {
  background: #000000;
}

::-webkit-scrollbar {
  width: 0px;
  height: .5rem;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background: rgba(193, 193, 193, .1);
  border-radius: 12px;
  scrollbar-width: thin;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: none;
  scrollbar-width: thin;
}

/* applies to all elements */
* {
  text-align: center;
  box-sizing: border-box;
  font-size: clamp(.9rem, 1vw, 1.5rem);
  color: white;
}


.subtext {
  font-size: clamp(.8rem, .9vw, 1.4rem);
}

.subtitle {
  font-size: clamp(1.1rem, 1.3vw, 1.7rem);
  font-weight: 600;
}

.title {
  font-size: clamp(1.2rem, 1.5vw, 1.8rem);
  font-weight: 600;
}

a {
  color: white;
  text-decoration: none;
}


/* body styles */
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background:#000000;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  padding-left: 5rem;
  padding-right: 5rem;
}

@media screen and (max-width: 800px) {

  .App {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
}

.App {

}

.main-section {
  position: relative;
  z-index: 0;
}

/* homepage styling */
/* .home-cont {
  margin-top: 3em;
}

.home-games {
  display: flex;
} */

/* .games-cont{
  display: grid;
  grid-template: auto / repeat(2, 1fr);
}

.recent-games, .popular-games {
  padding: 1em 2em;
  border: 4px solid silver;
  border-radius: 20px;
}
.game-card {
  max-width: 250px;
  max-height: 300px;
  border-top-left-radius : 30px;
  border-bottom-right-radius : 30px;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.2s;
  margin: 2em;
  overflow-x: auto;
  overflow-y: auto;
}
.game-card:hover {
  opacity: 0.6;
} */

/* .game-card img {
  width: 100%;
  border-top-left-radius : 30px;
}

.hover-info > h3,
p {
  color: white;
  margin: 0em;
  font-weight: bold;
}
.hover-info > h3 {
  margin-top: -0.5em;
}
.add-button, .add-cart {
  background-color: #01c3cc;
  color: white;
  width: auto;
  height: 1.7em;
  border-radius: 12.5px;
}
.add-button:hover, .add-cart:hover {
  background-color: white;
  color: #01c3cc;
} */

/* games page styling */
/* .games {
  width: 80%;
  display: grid;
  grid-template: auto / repeat(5, 1fr);
  margin:  auto
} */

/* games page styling */
/* .search-results {
  width: 80%;
  display: grid;
  grid-template: auto / repeat(5, 1fr);
  margin:  auto;
} */

/* about page styling */
/* .about-h1 {
  color: white;
  font-family: 'Permanent Marker', cursive;
  margin-top: 0.5em
}
.about-us-container {
  margin-top: -3em;
  display: flex;
  justify-content: space-around;
}
.about-card {
  background-color: darkgray;
  border-radius: 10px;
  padding-bottom: 20px;
  margin: 100px;
}
.card-margin {
  margin-bottom: 50px;
}

.about-card > h2 {
  margin-top: 0.2em;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

.image-div > img {
  height: 30vh;
}
a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
.about-card a {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  display: block;
  margin: -0.3em auto;
}
.links {
  text-align: center;
}
.Team {
  display: flex;
  width: 50%;
  height: 550px;
  margin: auto;
  margin-top: -4em;
  justify-content: center;
} */

/* gameDetails styling */

/* .top-half {
  display: flex;
  width: 90%;
  margin: 2em auto;
  border: 4px solid silver;
  border-radius: 20px;
  padding: 2em
}
.top-half div {
  width:50%;
  margin: auto 1em;
  border-radius: 20px
}
  .top-half div > img{
    width: 100%;
    border-radius: 20px
  }
.right-side {
  width: 50%;
  margin: auto 1em;
  padding: auto 1em;
  border-radius: 20px;
}
.right-side * {
  margin: 0.5em auto;
  font-size: 18px;
}
.right-side h1{
  font-size: 40px;
  color: #f37971;
  font-weight: bold;
}

.show-review-form {
  background-color: #f37971;
  color: white;
  width: auto;
  height: 1.7em;
  border-radius: 12.5px;
  display: inline;
}
.show-review-form:hover{
  background-color: white;
  color:#f37971;
} */

/* review section styling */
/* .reviews-cont {
  width: 70%;
  margin: auto;
} */

/* .review-card {
  border: 1px solid white;
  border-radius: 30px;
  background-color: rgb(65, 63, 63);
  height: 40px;
  padding: 2em auto;
  margin: 0.6em auto;

}

.review-card p, h4 {
  display: inline-block;
  margin: auto 0.4em;
  font-size: 22px;
  font-weight: bold;
}

.review-card p{
  color: #01c3cc;
}
.review-card h4{
  color: white;
}

.delete-review {
  background-color: #f37971;
  color: white;
  width: auto;
  height: 1.7em;
  border-radius: 12.5px;
  margin: auto 1em;
  display: inline;
}
.delete-review:hover {
  background-color: white;
  color:#f37971
}

.review-h2 {
  font-size: 40px;
  color: #01c3cc;
  font-weight: bold;
  margin-bottom: 0.5em;
} */


