
/* gameCard styles */
.game-card {
  width: clamp(200px, 22vw, 300px) !important;
  height: clamp(200px, 22vw, 300px) !important;
  border-radius: .5rem;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.2s;
  margin: 0 3rem 2rem 0;

  .game-img {
    width: clamp(175px, 22vw, 300px)!important;
    height: clamp(125px, 60%, 200px) !important;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }
  
  .game-info {
    height: 40% !important;
    text-align: left !important;
    margin: 1vw .8vw 0vh .8vw;
    
    > div {
      text-align: left !important;
    }
    
    .game-title, .game-price {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: .5vh;
    }

    
    .game-rating  {
      color: #fdca52;
      margin-bottom: .5rem;
    }
  }
}

@media screen and (max-width: 600px) {

  .game-title, .game-price {
    font-size: clamp(.9rem, 1vw, 1.5rem);
    margin-bottom: .2rem;
  }
}

.game-card:hover {
  opacity: 0.6;
}



