/* gameDetails styling */
.game-details {
}

.top-half {
  display: flex;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  
  .img-div {
    width: clamp(300px, 30vw, 500px);
    margin-right: 3vmin;
    border-radius: .5rem;
  }
  
  .right-side {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;

    > div {
      text-align: left;
    }

    .subtext {
      font-size: clamp(.8rem, .9vw, 1.4rem);
    }

    .subtitle {
      font-size: clamp(1.1rem, 1.3vw, 1.5rem);
      font-weight: 600;
      margin-bottom: 1.5vmin;
    }

    .title {
      font-size: clamp(1.4rem, 2.5vw, 2.2rem);
      font-weight: 600;
      margin-top: 3vmin;
      margin-bottom: 2.5vmin;
      line-height: 2.8vw;
    }

    .details-desc {
      margin-bottom: 2vmin;
    }

    .add-game-button {
      display: flex;
      align-items: center;
      width: max-content;
      padding: .5rem 1.5rem .5rem 1.5rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: 0;
      font-weight: 600;
      border-radius: 2rem;
      background-color: rgba(175, 175, 175, .5);
    }

    .add-game-button:hover {
      background-color: rgba(175, 175, 175, .7);
    }
  }
}

@media screen and (max-width: 800px) {
  .game-details {
      padding-top: 1rem;
  }

  .top-half {
    flex-direction: column;

    .img-div {
      width: clamp(275px, 90vw, calc(calc(90vw - 5rem) - 5rem));
      height: clamp(225px, 70vw, calc(calc(70vw - 5rem) - 5rem));
    }

    .right-side {
      height: auto;
      padding-right: 1rem;
      padding-left: 1rem;

      .title {
        line-height: 2rem;
        margin-top: 2rem;
      }

      .details-desc {
        margin-bottom: 2rem;
      }

      .add-game-button {
        margin-bottom: auto;
      }
    }
  }
}

