
/* gameCard styles */
.game-card {
  width: clamp(250px, 21vw, 290px) !important;
  height: clamp(250px, 21vw, 300px) !important;
  border-radius: .5rem;
  background-color: #1b1b1b;
  cursor: pointer;
  transition: all 0.2s;
  margin: 0 3rem 1.5rem 0;

  .game-img {
    width: clamp(250px, 21vw, 290px)!important;
    height: clamp(125px, 70%, 200px) !important;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }
  
  .game-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30% !important;
    text-align: left !important;
    margin: auto clamp(1rem, 1.5vw, 2.5rem);
    
    > div {
      text-align: left !important;
    }
    
    .game-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: .5vmin;
    }
    
    .game-numbers {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: -1vmin;
      margin-bottom: .5vmin;

      .game-price {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 1rem;
      }
    }
  }

  .add-game-button {
    position: relative;
    display: flex;
    align-items: center;
    width: max-content;
    padding: .1rem 1.2rem .1rem 2rem;
    margin-left: auto;
    font-weight: 600;
    border-radius: 2rem;
    background-color: rgba(175, 175, 175, .5);
    text-align: end;
    align-self: flex-end;
    
    .add-cart-icon {
      position: absolute;
      top: 50%;
      left: .5rem;
      transform: translateY(-50%);
      margin-right: .5rem;
      height: .8rem;
      width: .8rem;
      
      svg, path {
        height: .8rem;
        width: .8rem;
        fill:white;
      }
    }
  }
  
  .add-game-button:hover {
    background-color: rgba(175, 175, 175, .7);

  }
}

@media screen and (max-width: 800px) {
  .game-title, .game-price, .game-rating, .add-game-button {
    margin-bottom: 0rem !important;
    font-weight: 500 !important;
  }

  .add-game-button {
    display: flex;
    align-items: center;
    width: min-content;
    padding: .1rem .8rem .1rem 1rem;
  }
}

.game-card:hover {
  .game-img {
    opacity: 0.4;
  }
}






