
.homepage {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  overflow-y: auto;

  .title {
    text-align: left;
    margin-bottom: 1rem;
  }

  .games-cont {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    overflow-x: auto;
  }
}
